/* DISABLE SCROLLING THE BODY */
body.disable-cart-scroll {
    overflow: hidden;
}

.cart-subject {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    background-color: #ffffff;
    transition: transform 0.5s ease-in;
    transform: translateX(0);
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);
}

.cart-subject::-webkit-scrollbar {
    width: 8px;
}

.cart-subject::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track-color);
}

.cart-subject::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color);
}

.cart-subject::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-thumb-hover-color);
}

.cart-subject.close {
    transform: translateX(100%);
}

.close-cart {
    padding: 2px;
    margin: 10px;
    cursor: pointer;
}

.total-card-navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.total-card-navbar-tems {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cart-items-number {
    font-weight: 800;
    color: var(--blue);
}

.total-items-number {
    font-weight: 800;
    color: var(--blue);
    margin-right: 10px;
}

.straight-line {
    width: 80%;
    height: 2px;
    background-color: #000;
}

.cartItems-all {
    width: 100%;
    height: 55vh;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);
}

.center-next-cart-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.next-cart-buttons {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.next-cart-buttons button {
    margin: 20px;
    width: 100px;
    height: 30px;
    border: 2px solid #000;
    background-color: #fff;
    font-family: var(--font);
    font-weight: 800;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.next-cart-buttons button:hover {
    background-color: var(--blue);
    color: #fff;
    border: 1px solid #000;
}

.back-icon-small {
    margin-right: 5px;
}

.single-cart {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.single-card-product {
    display: flex;
    justify-content: space-around;
    width: 80%;
    height: 80%;
}

.products-card-image {
    width: 150px;
    height: 200px;
}

.products-card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-card-description {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 25%;
}

.quantity {
    padding: 10px;
}

.quantity .quantity-title {
    font-size: 15px;
    font-weight: 700;
    margin: 20px 10px;
}

.product-card-buttons {
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.product-card-buttons p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: inset 1px #000;
}


.product-card-buttons button {
    width: 40px;
    height: 40px;
    font-size: 20px;
    background-color: #fff;
    border: inset 1px #000;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-card-buttons p {
    font-size: 20px;
    font-weight: 600;
}

.product-card-size {
    padding: 10px;
}

.product-card-size .size-title {
    font-size: 15px;
    font-weight: 700;
    margin: 20px 10px;
}

.size-card {
    margin: 10px;
}

.size-card select {
    width: 90px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    font-size: 15px;
    cursor: pointer;
}

.add__to__card {
    width: 150px;
    height: 50px;
    margin: 20px;
}

.add__to__card button {
    width: 100%;
    height: 100%;
    object-fit: cover;
    font-weight: 600;
    font-size: 15px;
    background-color: var(--blue);
    color: #000000;
    border: none;
    cursor: pointer;
}



.price-cart {
    margin: 10px;
}

.price-title {
    font-size: 15px;
    font-weight: 700;
    margin: 20px 10px;
}

.close-cart-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 30px;
    height: 30px;
    width: 30px;
}

.small-cart {
    display: none;
}

.there__is__no__product {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.no_product_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--blue);
}

.there__is__no__product p {
    font-weight: 700;
}

.size__center__of {
    margin: 10px;
    font-weight: 800;
}

/* MEDIA  */

/* 950 PX ==================> */

@media screen and (max-width: 950px) {

    .single-cart {
        display: none;
    }

    .category-small-cart-title {
        display: block;
        font-weight: 800;
        color: #484848;
    }

    .small-cart {
        display: flex;
        justify-content: center;
        padding: 10px;
        position: relative;
        margin: 20px auto;
    }

    .small-single-cart {
        width: 80%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        border-radius: 10px;
        padding: 10px;
        box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
    }

    .close-icon-small-cart {
        position: absolute;
        top: 0;
        left: 10%;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--blue);
        color: #fff;
        cursor: pointer;
    }

    .small-single-project-image {
        width: 150px;
        height: 150px;
        border-radius: 10px;
    }

    .small-single-project-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }

    .small-cart-title {
        display: flex;
        flex-direction: column;
        padding: 5px;
    }

    .small-cart-title p {
        font-size: 18px;
        font-weight: 700;
    }

    .small-cart-size select {
        width: 80px;
        height: 25px;
        padding-left: 10px;
        border: 1px solid #000;
    }

    .small-cart-price {
        color: var(--blue);
    }

    .play-with-small-cart {
        width: 30px;
        height: 100%;
    }

    .play-with-small-cart button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        border: none;
        border-radius: 2px;
        color: #000;
        background-color: #e0e0e0;
    }

    .display-small-number {
        display: flex;
        justify-content: center;
        width: 30px;
        height: 50px;
        font-weight: 700;
    }

    .increment {
        transform: rotate(-90deg);
    }

    .decrement {
        transform: rotate(90deg);
    }
}

/* 768 PX ==================> */

@media screen and (max-width: 768px) {
    .total-card-navbar {
        font-size: 13px;
    }
}

/* 450 PX ==================> */

@media screen and (max-width: 450px) {
    .category-small-cart-title {
        display: none;
    }

    .small-single-project-image {
        max-width: 100px;
        max-height: 100px;
        border-radius: 10px;
    }

    .small-cart-title {
        display: flex;
        flex-direction: column;
        padding: 5px;
    }

    .small-cart-title p {
        font-size: 14px;
        font-weight: 600;
    }

    .small-cart-size select {
        width: 80px;
        height: 25px;
        padding-left: 10px;
        border: 1px solid #000;
    }

    .small-cart-price {
        color: var(--blue);
    }

    .play-with-small-cart {
        width: 30px;
        height: 100%;
    }

    .play-with-small-cart button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        border: none;
        border-radius: 2px;
        color: #000;
        background-color: #e0e0e0;
    }

    .display-small-number {
        display: flex;
        justify-content: center;
        width: 30px;
        height: 50px;
        font-weight: 700;
    }

    .increment {
        transform: rotate(-90deg);
    }

    .decrement {
        transform: rotate(90deg);
    }
}