.both-catalogue {
    display: flex;
    position: relative;
}

.filter {
    width: 25%;
    min-height: 1px;
    background-color: var(--filter);
}

.filter-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: var(--font-w);
    margin-top: 25px;
}

.filter-title h1 {
    position: relative;
    display: inline-block;
    font-size: 20px;
}

.filter-title h1:after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #00bbff;
}

.catalogue {
    width: 80%;
    height: 100%;
}

.close-filter {
    display: none;
}

.nav-filter {
    display: none;
}

.above-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.language {
    display: flex;
    justify-content: space-around;
    width: 150px;
}

.language .no-active {
    color: #757575;
    font-weight: var(--font-w);
    cursor: pointer;
    margin-right: 20px;
}

.language .active {
    font-weight: var(--font-w);
    cursor: pointer;
    margin-right: 20px;
}


.home-catalogue-nav {
    display: flex;
    justify-content: space-between;
}

.catalogue-one {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 35%;
}

.catalogue-one p {
    font-weight: var(--font-w);
    cursor: pointer;
}

.catalogue-one .no-active {
    color: #414141;
}

.catalogue-one .active {
    color: #31adff;
}

.catalogue-dot {
    position: relative;
}

.dot {
    position: absolute;
    top: 75%;
    left: 45%;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #31adff;
}

.catalogue-two {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 15%;
}

.catalogue-box {
    position: relative;
    z-index: 1;
}

.catalogue-box-count-product {
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    top: 5%;
    left: 75%;
    border-radius: 50%;
    background-color: var(--blue);
}

.catalogue-search {
    cursor: pointer;
}

.catalogue-box {
    cursor: pointer;
    text-decoration: none;
    color: #000;
}

.all-clothes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
    margin-top: 30px;
}

.single-cloth {
    width: 250px;
    height: 300px;
    margin: 10px auto;
}


.single-cloth img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.shirt-container {
    display: flex;
    justify-content: center;
}

.shirt-info {
    width: 250px;
}

.shirt-info p {
    margin: 2px 0;
    width: 250px;
}

.title {
    color: #000;
    font-weight: var(--font-w);
}

.category {
    color: #757575;
    font-weight: var(--font-w);
}

.price {
    font-weight: var(--font-w);
    color: #31adff;
}

.shop-filter {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 20px;
}

.shop-filter .shop-filter-title {
    width: 90%;
}

.line-blue {
    height: 55px;
    width: 4px;
    background-color: var(--blue);
    margin-top: -10px;
    margin-left: 5px;
}

.filter-categories {
    margin-left: 5px;
    color: #737373;
    font-weight: 600;
}

.filter-categories p {
    cursor: pointer;
    transition: all 0.5s ease-out;
}

.filter-active-shop {
    color: #0062ff;
    font-size: 18px;
}

/* Color filter */

.color-filter {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 20px;
}

.color-filter .color-filter-title {
    width: 90%;
}

.line-blue {
    height: 55px;
    width: 4px;
    background-color: var(--blue);
    margin-top: -10px;
    margin-left: 5px;
}

.color-categories {
    margin-left: 5px;
    margin-top: 20px;
    color: #737373;
    font-weight: 600;
}

.color-categories .p {
    cursor: pointer;
    transition: all 0.5s ease-out;
}

.color-categories-main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 0;
    margin-top: 20px;
    width: 60%;
}

.single-color {
    width: 35px;
    height: 35px;
    margin: 10px auto;
    border-radius: 50%;
    border: inset 1px #000;
    cursor: pointer;
}

.single-color-active {
    width: 35px;
    height: 35px;
    margin: 10px auto;
    border-radius: 50%;
    border: inset 5px var(--blue);
    cursor: pointer;
}

.filter-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

.filter-footer p {
    color: #777777;
    font-size: 14px;
    font-weight: 600;
}

.no__products__yet {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
}

.no__products__yet__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--blue);
}

@media screen and (max-width: 1024px) {
    .single-cloth {
        width: 200px;
        height: 250px;
        margin: 10px auto;
    }

    .shirt-info {
        width: 200px;
    }

    .shirt-info p {
        width: 200px;
    }
}


@media screen and (max-width: 950px) {

    /* DISABLE SCROLLING THE BODY */
    body.disable-scroll {
        overflow: hidden;
    }

    .nav-filter {
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid 2px #000;
        border-radius: 50%;
        background-color: #000;
        margin-left: 10px;
        color: #fff;
        width: 45px;
        height: 45px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }

    .nav-filter:hover {
        width: 50px;
        height: 50px;
    }

    .filter {
        display: block;
        width: 50%;
        height: 100%;
        position: fixed;
        z-index: 10;
        transition: all 0.5s ease-in;
        transform: translateX(0);
    }

    .handle-all {
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        scrollbar-width: thin;
        scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);
    }

    .handle-all::-webkit-scrollbar {
        width: 8px;
    }

    .handle-all::-webkit-scrollbar-track {
        background-color: var(--scrollbar-track-color);
    }

    .handle-all::-webkit-scrollbar-thumb {
        background-color: var(--scrollbar-thumb-color);
    }

    .handle-all::-webkit-scrollbar-thumb:hover {
        background-color: var(--scrollbar-thumb-hover-color);
    }

    .filter.close {
        transform: translateX(-100%);
    }

    .close-filter {
        display: flex;
        justify-content: flex-end;
    }

    .close-icon {
        padding: 10px;
        color: #404040;
        cursor: pointer;
    }

    .catalogue-cover {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #ffffffa0;
        z-index: 8;
    }

    .catalogue {
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 2;
    }

    .catalogue-one {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 200px;
    }

    .catalogue-two {
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 25%;
    }

    .all-clothes {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: auto;
        grid-gap: 1rem;
        margin-top: 30px;
    }

    .filter-footer {
        height: 20vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}


@media screen and (max-width: 500px) {
    .all-clothes {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: auto;
        grid-gap: 1rem;
        margin-top: 30px;
    }

    .single-color {
        width: 25px;
        height: 25px;
        margin: 10px auto;
        border-radius: 50%;
        border: inset 1px #000;
        cursor: pointer;
    }

    .single-color-active {
        width: 25px;
        height: 25px;
        margin: 10px auto;
        border-radius: 50%;
        border: inset 3px var(--blue);
        cursor: pointer;
    }
}