.error__page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
}

.error__center__icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.error__page__center p {
    font-size: 30px;
    font-weight: 800;
    text-align: center;
}