.qr__code__container {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #fff;
    z-index: 10;
}

.single__user__error {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #fff;
    z-index: 10;
}

.error__page__user {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar__qrcode {
    font-size: 20px;
    font-weight: 600;
    margin: 20px 20px;
    padding: 5px;
}

.user__navbar {
    font-size: 30px;
    font-weight: 800;
    margin: 20px 20px;
    padding: 5px;
    position: absolute;
    z-index: 15;
    top: 85px;
}

.user__navbar__logo {
    border: 3px solid var(--blue);
    color: var(--blue);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user__main__page__containers {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: -9px;
}

.white__background {
    width: 50%;
    height: 100vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg__needed__boubles_one {
    position: absolute;
    z-index: 0;
    width: 100px;
    height: 100px;
    left: 20%;
    top: 2%;
    background: rgb(202, 231, 255);
    background: linear-gradient(191deg, rgba(202, 231, 255, 1) 0%, rgba(210, 255, 219, 1) 0%, rgba(208, 247, 255, 1) 100%);
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

.bg__needed__boubles_two {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 10%;
    top: 60%;
    background: rgb(202, 231, 255);
    background: linear-gradient(191deg, rgba(202, 231, 255, 1) 0%, rgba(210, 255, 219, 1) 0%, rgba(208, 247, 255, 1) 100%);
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

.bg__needed__boubles_three {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 60%;
    top: 80%;
    background: rgb(202, 231, 255);
    background: linear-gradient(191deg, rgba(202, 231, 255, 1) 0%, rgba(210, 255, 219, 1) 0%, rgba(208, 247, 255, 1) 100%);
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

.bg__needed__boubles_four {
    position: absolute;
    width: 100px;
    height: 100px;
    right: 10%;
    top: 20%;
    background: rgb(202, 231, 255);
    background: linear-gradient(191deg, rgba(202, 231, 255, 1) 0%, rgba(210, 255, 219, 1) 0%, rgba(208, 247, 255, 1) 100%);
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

.blue__background {
    width: 50%;
    height: 100vh;
    background-color: #ecffff;
}

.center__text__div {
    position: absolute;
    z-index: 50;
}

.follow__me__social__icons {
    display: flex;
    justify-content: center;
    grid-gap: 1rem;
    cursor: pointer;
    font-size: 60px;
}

.follow__me__social__icons__single {
    margin: 10px auto;
    text-decoration: none;
    color: var(--blue);
}

.center__text {
    text-align: center;
    font-size: 40px;
}

.center__text__below {
    text-align: center;
    font-weight: 600;
    font-size: 30px;
}


@media (max-width: 768px) {
    .follow__me__social__icons {
        font-size: 50px;
    }

    .center__text {
        font-size: 30px;
    }

    .center__text__below {
        font-size: 20px;
    }
}