.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: relative;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    position: absolute;
    top: 80%;
}

.pagination-dot {
    width: 10px;
    height: 10px;
    background-color: rgb(183, 183, 183);
    border-radius: 50%;
    margin: 0 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.pagination-dot.active {
    background-color: var(--blue);
}

.slide {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.shop {
    position: absolute;
    z-index: 3;
    left: 60px;
    top: 60px;
}

.line {
    height: 60px;
    width: 2px;
    background-color: #a6a4a4;
    margin-top: -10px;
    margin-left: 5px;
}

.categories {
    margin-left: 5px;
}

.categories li {
    font-size: 18px;
    font-weight: 600;
    margin: 20px 0;
    color: #a6a4a4;
    cursor: pointer;
}

.categories .active {
    color: var(--blue);
}

.limited {
    position: absolute;
    z-index: 3;
    right: 60px;
    top: 60px;
}

.edition {
    color: #949393;
    font-size: 15px;
    font-weight: 600;
}

.programming-shirt {
    font-size: 20px;
    font-weight: 800;
}

.slide img {
    max-width: 300px;
    max-height: 400px;
    position: absolute;
    z-index: 2;
}

.slide-text {
    position: relative;
    transform: translateY(-50%);
    color: rgb(232, 232, 232);
    font-size: 20vh;
    font-weight: 900;
    padding: 10px;
    z-index: -1;
}

.shop-now-button {
    position: absolute;
    z-index: 3;
    right: 60px;
    bottom: 200px;
}

.shop-now-button button {
    padding: 10px 10px;
    border: inset 1px #000;
    background-color: #fff;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.5s ease-in;
}

.shop-now-button button:hover {
    background-color: var(--blue);
    color: #fff;
}

.link {
    text-decoration: none;
}

.fixed-card {
    position: fixed;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 80%;
    left: 2%;
    background-color: #c3e5fe;
    color: #454545;
    width: 60px;
    height: 60px;
    background: #7fc0fc65;
    box-shadow: 0 2px 5px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    cursor: pointer;
}

@media screen and (max-width: 950px) {
    .slide-text {
        font-size: 10vh;
    }
}


@media screen and (max-width: 500px) {
    .slide-text {
        font-size: 7vh;
    }

    .shop {
        position: absolute;
        z-index: 3;
        left: 20px;
        top: 10px;
    }

    .shop h1 {
        font-size: 20px;
    }

    .line {
        height: 40px;
        width: 2px;
        background-color: #a6a4a4;
        margin-top: -10px;
        margin-left: 5px;
    }

    .categories {
        margin-left: 5px;
    }

    .categories li {
        font-size: 12px;
        font-weight: 600;
        margin: 20px 0;
        color: #a6a4a4;
        cursor: pointer;
    }

    .categories .active {
        color: var(--blue);
    }


    .limited {
        position: absolute;
        z-index: 3;
        right: 15px;
        top: 10px;
    }

    .limited h3 {
        font-size: 15px;
    }

    .edition {
        color: #949393;
        font-size: 12px;
        font-weight: 600;
    }

    .programming-shirt {
        font-size: 15px;
        font-weight: 800;
    }

    .shop-now-button {
        position: absolute;
        z-index: 3;
        right: 15px;
        bottom: 200px;
    }

    .shop-now-button button {
        border: inset 1px #000;
        background-color: #fff;
        font-weight: 500;
        cursor: pointer;
        transition: all 0.5s ease-in;
    }
}